name: CI

on:
  pull_request:
    types: [ opened, edited, reopened, synchronize, ready_for_review ]
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.22.1'
      - name: Setup tools
        run: make init
      - name: Lint
        run: make lint